  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">My StudyGroup</h2>
              <hr class="light">
              <p class="text-faded">集結了各種不同職業、年齡的深度學習同好，利用兩周一次的周末進行課程導讀、問題解決以及想法激盪，至今已完成許多機器學習、深度學習的課程，未來將會更著重在專案開發之上。</p>
              <a href="https://www.notion.so/UnicornS-Paradise-fb3a21e715c34399a39930dfbc866355" class="btn btn-default btn-xl wow tada">Join Us Now !</a>
          </div>
      </div>
  </aside>
