<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Journal</h2>
                <hr class="light">
                <h2>Math.py 記錄著我的學習，為這璀璨且有趣的旅程留下ㄧ些足跡。</h2>
                <p class="text-faded">資料科學的領域，著重的是團隊合作、資源共享，希望用我的學習歷程來讓更多人了解這一門「科學」，也期待藉由我的分享來讓更多人參與討論，進行大規模的腦力激盪。</p>
                <a href="https://allen108108.github.io/blog/" class="btn btn-default btn-xl">READ Math.py</a>
            </div>
        </div>
    </div>
</section>